{{ define "main" -}}
<div class="posts">
  <div id="About" class="welcome">
  <h1> Hi, I'm <span>Anna</span> </h1>
  <h3> Data analyst, visualisation designer, and spontaneous developer with MSc in technology and science. I use my background as a researcher to better understand the world around me through data and to enthusiastically share the insights.
  <br>I just love to design and develop truthful, functional, beautiful and enlightening data visualisations. For all kinds of fields - from BI to journalism. </h3>
  </div>


<div id="Portfolio" class="portfolio">
  <h3> Curated projects, data stories, artwork, and sketches </h3> <p>Under construction..</p> <br><br>
  <span class="projects">
  {{ range where site.RegularPages "Type" "portfolio" }}
<div class="project" style="background-image: url('{{ .Params.mainPicture }}');">
  <h2 class="title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h2>
  </div>
  {{- end }}
  </span>
  </div>


<div id="Writings" class="writings">
  <span> </span>
  <h3> A collection of tutorials, making-of’s, presentations, and mad ramblings </h3> <br>
{{ range where site.RegularPages "Type" "writings" }}

<h1 class="post-title">
  <br>
  <a href="{{ .Permalink }}">{{ .Title }}</a>
</h1>
<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
{{ .Summary }}
{{ if .Truncated }}
<div class="read-more-link"> <a href="{{ .RelPermalink }}">Read More…</a>
</div>
{{ end }}
{{ end }}
</div>
<!-- <div class="fadeGradient">   -->
</div>
</div>
{{- end }}
