{{ define "main" -}}
<div class="posts">
  <!-- Welcome home part-->
  <div class="welcome">
<h1> Hi, I'm Anna </h1>

<!-- {{- $image := resources.Get "images/hover.png" -}}
<img src="./images/hover.png" > -->

<h3> Data analyst and visualisation designer </h3>

<!-- <img src="hover.png" > -->
</div>

{{ range .Site.RegularPages -}}
<h3>Anna?</h3>

<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ .Summary }}
  {{ if .Truncated }}

  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More…</a>
  </div>
  {{ end }}
</article>
{{- end }}
</div>
{{- end }}
